body {
  margin: 0;
  color: #40514E;
  text-align: center;
  font-family: "Merriweather",sans-serif;
  background-color: #e4f9ff;

}

p {
  line-height: 2;
}
hr {
  border-style:none;
  border-top-style: dotted;
  border-color: #5f6769;
  border-width: 6px;
  width: 5%;
  margin: 100px auto;
}

.hero {
  padding-top: 50px;
  width: 50%;
  margin:auto;
}

.self {
  width:250px;
  margin: auto;
  padding-top: 0;
  padding-bottom: 20px;
}

.pro{
  text-decoration: underline;
}

.intro {
  width: 30%;
  margin: auto;
  color: #40514E;
}

.skill-row {
  width: 50%;
  margin: 50px auto 50px auto;
  text-align: left;
  line-height: 2;
}

.code-img {
  width: 23%;
  float: left;
  margin-right: 30px;
}

.development-img {
  width: 25%;
  float: right;
  margin-left: 20px;
}

.contact-message {
  width: 40%;
  margin: 0 auto 60px;
}
h1 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 2;
  color: #5f6caf;
  font-size: 5.625rem;
  font-family: 'Sacramento', cursive;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  margin-top: 0;
  color: #5f6caf;
  font-weight: bold;
  padding-bottom: 10px;
  font-size: 2rem;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

.filehost {
  color: #11999E;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  text-decoration: underline;
  margin: 0;
}
.filehost:hover {
    color: #11999E;
}
a {
  color: #11999E;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

.copyright {
  font-size: 0.75rem;
  color: #EAF6F6;
  padding: 20px 0 0;
}


.top-container {

background-color: #a1e6e3;
  position: relative;
  padding-top: 100px;
}

.btn {
  font-family: 'Montserrat', sans-serif;
  color: #FFFFFF !important;
  font-size: 14px;
  text-shadow: 1px 1px 0px #7CACDE;
  box-shadow: 1px 1px 1px #BEE2F9;
  padding: 10px 25px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  border: 2px solid #3866A3;
  background: #63B8EE;
  background: linear-gradient(top,  #11CDD4,  #11999E);
  background: -ms-linear-gradient(top,  #11CDD4,  #11999E);
  background: -webkit-gradient(linear, left top, left bottom, from(#11CDD4), to(#11999E));
  background: -moz-linear-gradient(top,  #11CDD4,  #11999E);
}
.btn:hover {
  color: #14396A !important;
  background: #468CCF;
  background: linear-gradient(top,  #30E3CB,  #2BC4AD);
  background: -ms-linear-gradient(top,  #30E3CB,  #2BC4AD);
  background: -webkit-gradient(linear, left top, left bottom, from(#30E3CB), to(#2BC4AD));
  background: -moz-linear-gradient(top,  #30E3CB,  #2BC4AD);
}

.middle-container {
margin: 100px 0;
}
.bottom-container {
background-color: #66BFBF;
padding: 50px 0 20px;
}
